<div class="display-4">
    <strong>
        @ViewBag.Fiyat-TL tutarındaki satın alma işleminiz başarıyla tamamlandı.
    </strong>
    <p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">
            Geri Dön
        </a>
    </p>
</div>